In [1]:
val data = Seq(("Megan",200000),("Gao",450000),("Antonio",120000))//ordered,immutable collection
val rdd = sc.parallelize(data)
val df_from_data = data.toDF("Name","Income")
val df_from_rdd = rdd.toDF("Name","Income")

Intitializing Scala interpreter ...

Spark Web UI available at http://10.56.160.213:4045
SparkContext available as 'sc' (version = 3.3.0, master = local[*], app id = local-1671144469089)
SparkSession available as 'spark'

data: Seq[(String, Int)] = List((Megan,200000), (Gao,450000), (Antonio,120000))
rdd: org.apache.spark.rdd.RDD[(String, Int)] = ParallelCollectionRDD[0] at parallelize at <console>:25
df_from_data: org.apache.spark.sql.DataFrame = [Name: string, Income: int]
df_from_rdd: org.apache.spark.sql.DataFrame = [Name: string, Income: int]

In [3]:
val data = Array(("Megan",200000),("Gao",450000),("Antonio",120000))//ordered,immutable collection
val rdd = sc.parallelize(data)
// val df_from_data = data.toDF("Name","Income")
val df_from_rdd = rdd.toDF("Name","Income")

data: Array[(String, Int)] = Array((Megan,200000), (Gao,450000), (Antonio,120000))
rdd: org.apache.spark.rdd.RDD[(String, Int)] = ParallelCollectionRDD[1] at parallelize at <console>:27
df_from_rdd: org.apache.spark.sql.DataFrame = [Name: string, Income: int]

In [4]:
val df = spark.read //Jupyter automatically creates a sparksession with the identifer "spark"
    .format("csv")
    .option("header","true")
    .option("inferschema","true")//"Michael" is a string, 3000 is an interger
   .csv("employees.csv")
df.printSchema

root
 |-- name: string (nullable = true)
 |-- salary: integer (nullable = true)

df: org.apache.spark.sql.DataFrame = [name: string, salary: int]

In [6]:
val df = spark.read //Jupyter automatically creates a sparksession with the identifer "spark"
    .option("header","true")
    .option("inferschema","true")//"Michael" is a string, 3000 is an interger
   .json("employees_singleline.json")
df.printSchema

root
 |-- name: string (nullable = true)
 |-- positions: struct (nullable = true)
 |    |-- NYC: long (nullable = true)
 |    |-- Palo Alto: long (nullable = true)
 |-- salary: long (nullable = true)

df: org.apache.spark.sql.DataFrame = [name: string, positions: struct<NYC: bigint, Palo Alto: bigint> ... 1 more field]

In [7]:
df.schema

res3: org.apache.spark.sql.types.StructType = StructType(StructField(name,StringType,true),StructField(positions,StructType(StructField(NYC,LongType,true),StructField(Palo Alto,LongType,true)),true),StructField(salary,LongType,true))

In [29]:
import org.apache.spark.sql.Row
val data = Array(Array("Megan",200000),Array("Gao",450000),Array("Antonio",120000))
val rdd = sc.parallelize(data)
val rddRow = rdd.map(a=>Row(a(0),a(1)))
rddRow.collect

import org.apache.spark.sql.Row
data: Array[Array[Any]] = Array(Array(Megan, 200000), Array(Gao, 450000), Array(Antonio, 120000))
rdd: org.apache.spark.rdd.RDD[Array[Any]] = ParallelCollectionRDD[45] at parallelize at <console>:44
rddRow: org.apache.spark.rdd.RDD[org.apache.spark.sql.Row] = MapPartitionsRDD[46] at map at <console>:45
res11: Array[org.apache.spark.sql.Row] = Array([Megan,200000], [Gao,450000], [Antonio,120000])

In [46]:
import org.apache.spark.sql.Row
val data = Seq(("Megan",200000),("Gao",450000),("Antonio",120000))
val rdd = sc.parallelize(data)
// Row.fromSeq(Seq(value1, value2, ...))
val rddRow = rdd.map(a=>Row(a._1,a._2))
// rddRow.collect

import org.apache.spark.sql.Row
data: Seq[(String, Int)] = List((Megan,200000), (Gao,450000), (Antonio,120000))
rdd: org.apache.spark.rdd.RDD[(String, Int)] = ParallelCollectionRDD[56] at parallelize at <console>:63
rddRow: org.apache.spark.rdd.RDD[org.apache.spark.sql.Row] = MapPartitionsRDD[57] at map at <console>:65

In [59]:
rddRow.collect()

res25: Array[org.apache.spark.sql.Row] = Array([Megan,200000], [Gao,450000], [Antonio,120000])

In [88]:
rddRow.collect.getString(0)

<console>: 68: error: value getString is not a member of Array[org.apache.spark.sql.Row]

In [87]:
rddRow.collect

res53: Array[org.apache.spark.sql.Row] = Array([Megan,200000], [Gao,450000], [Antonio,120000])

In [170]:
import org.apache.spark.sql.Row
import org.apache.spark.sql.types._
val df = spark.createDataFrame(rddRow,
                                StructType(
                                     StructField("name",StringType) ::
                                     StructField("income",IntegerType) ::
                                     Nil)
                              )

import org.apache.spark.sql.Row
import org.apache.spark.sql.types._
df: org.apache.spark.sql.DataFrame = [name: string, income: int]

In [165]:
 val struct =
   StructType(
     StructField("name",StringType) ::
     StructField("income",IntegerType) ::
     Nil)

struct: org.apache.spark.sql.types.StructType = StructType(StructField(name,StringType,true),StructField(income,IntegerType,true))

In [168]:
df.printSchema

root
 |-- name: string (nullable = true)
 |-- income: integer (nullable = true)

In [36]:
df.show

+-------+------+
|   name|income|
+-------+------+
|  Megan|200000|
|    Gao|450000|
|Antonio|120000|
+-------+------+

In [89]:
df.collect

res55: Array[org.apache.spark.sql.Row] = Array([Megan,200000], [Gao,450000], [Antonio,120000])

In [53]:
val l = List(("Alice", 1))
spark.createDataFrame(l).collect()

l: List[(String, Int)] = List((Alice,1))
res20: Array[org.apache.spark.sql.Row] = Array([Alice,1])

In [52]:
val a = List(1)

a: List[Int] = List(1)

In [98]:
val x = Array(("John","Q1",10),
              ("Jill","Q1",8),
              ("John","Q2",3),
              ("Jill","Q2",9))
val rdd = sc.parallelize(x)
val df = rdd.toDF("Name","Quiz","Score")
// val names = df.select("Name")
// names.show
// val scores = df.select("Name","Score")
// scores.show
// val percentages = df.select($"Name",$"Score"*100.0/10.0)//$ -> trade "Score" as column. when you need one, you need to do every one. 
// percentages.show
val percentages = df.select($"Name",$"Score"*100.0/10.0 as "percentage")
percentages.show
val grouped = df.groupBy("Name")
grouped.mean("Score").show

+----+----------+
|Name|percentage|
+----+----------+
|John|     100.0|
|Jill|      80.0|
|John|      30.0|
|Jill|      90.0|
+----+----------+

+----+----------+
|Name|avg(Score)|
+----+----------+
|John|       6.5|
|Jill|       8.5|
+----+----------+

x: Array[(String, String, Int)] = Array((John,Q1,10), (Jill,Q1,8), (John,Q2,3), (Jill,Q2,9))
rdd: org.apache.spark.rdd.RDD[(String, String, Int)] = ParallelCollectionRDD[112] at parallelize at <console>:75
df: org.apache.spark.sql.DataFrame = [Name: string, Quiz: string ... 1 more field]
percentages: org.apache.spark.sql.DataFrame = [Name: string, percentage: double]
grouped: org.apache.spark.sql.RelationalGroupedDataset = RelationalGroupedDataset: [grouping expressions: [Name: string], value: [Name: string, Quiz: string ... 1 more field], type: ]

In [93]:
grouped.sum("Score").show

+----+----------+
|Name|sum(Score)|
+----+----------+
|John|        13|
|Jill|        17|
+----+----------+

In [94]:
val a_grades = df.filter($"Score">=9.0)
a_grades.show

+----+----+-----+
|Name|Quiz|Score|
+----+----+-----+
|John|  Q1|   10|
|Jill|  Q2|    9|
+----+----+-----+

a_grades: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [Name: string, Quiz: string ... 1 more field]

In [99]:
val grades = percentages.withColumn("grade",
                      when(col("percentage")>=90.0,"A")
                      .when(col("percentage")>=80.0,"B")
                        .otherwise( "F"))
grades.show

+----+----------+-----+
|Name|percentage|grade|
+----+----------+-----+
|John|     100.0|    A|
|Jill|      80.0|    B|
|John|      30.0|    F|
|Jill|      90.0|    A|
+----+----------+-----+

grades: org.apache.spark.sql.DataFrame = [Name: string, percentage: double ... 1 more field]

In [126]:
import org.apache.spark.sql.functions.udf
val x = Array(("John","Q1",10),
              ("Jill","Q1",8),
              ("John","Q2",3),
              ("Jill","Q2",9))
val rdd = sc.parallelize(x)
val df = rdd.toDF("Name","Quiz","Score")
val percentage = df.select($"Name",$"Score"*100.0/10.0 as "percentage")
percentage.show
def grader(x:Double):String = {
    if (x >= 90.0) "A"
    else if (x >= 80.0) "B"
    else "F"
}
val grader_udf = udf(grader _)
val a = percentage.withColumn("grade_",grader_udf($"percentage"))

+----+----------+
|Name|percentage|
+----+----------+
|John|     100.0|
|Jill|      80.0|
|John|      30.0|
|Jill|      90.0|
+----+----------+

import org.apache.spark.sql.functions.udf
x: Array[(String, String, Int)] = Array((John,Q1,10), (Jill,Q1,8), (John,Q2,3), (Jill,Q2,9))
rdd: org.apache.spark.rdd.RDD[(String, String, Int)] = ParallelCollectionRDD[149] at parallelize at <console>:87
df: org.apache.spark.sql.DataFrame = [Name: string, Quiz: string ... 1 more field]
percentage: org.apache.spark.sql.DataFrame = [Name: string, percentage: double]
grader: (x: Double)String
grader_udf: org.apache.spark.sql.expressions.UserDefinedFunction = SparkUserDefinedFunction($Lambda$5062/0x0000000801bfe840@74ef3153,StringType,List(Some(class[value[0]: double])),Some(class[value[0]: string]),None,true,true)
a: org.apache.spark.sql.DataFrame = [Name: string, percentage: double ... 1 more field]

In [127]:
a.show

+----+----------+------+
|Name|percentage|grade_|
+----+----------+------+
|John|     100.0|     A|
|Jill|      80.0|     B|
|John|      30.0|     F|
|Jill|      90.0|     A|
+----+----------+------+

In [107]:
percentages

res72: org.apache.spark.sql.DataFrame = [Name: string, percentage: double]

In [120]:
val x = Array(("John","Q1",100.0),
              ("Jill","Q1",80.0),
              ("John","Q2",30.0),
              ("Jill","Q2",90.0))
val rdd = sc.parallelize(x)
val df = rdd.toDF("Name","Quiz","Score")
df.show

+----+----+-----+
|Name|Quiz|Score|
+----+----+-----+
|John|  Q1|100.0|
|Jill|  Q1| 80.0|
|John|  Q2| 30.0|
|Jill|  Q2| 90.0|
+----+----+-----+

x: Array[(String, String, Double)] = Array((John,Q1,100.0), (Jill,Q1,80.0), (John,Q2,30.0), (Jill,Q2,90.0))
rdd: org.apache.spark.rdd.RDD[(String, String, Double)] = ParallelCollectionRDD[138] at parallelize at <console>:82
df: org.apache.spark.sql.DataFrame = [Name: string, Quiz: string ... 1 more field]

In [122]:
def grader(x:Double):String = {
    if (x >= 90.0) "A"
    else if (x >= 80.0) "B"
    else "F"
}
val grader_udf = udf(grader _)
val a = df.withColumn("grade",grader_udf($"Score"))

grader: (x: Double)String
grader_udf: org.apache.spark.sql.expressions.UserDefinedFunction = SparkUserDefinedFunction($Lambda$5059/0x0000000801a6b840@707ee2c8,StringType,List(Some(class[value[0]: double])),Some(class[value[0]: string]),None,true,true)
a: org.apache.spark.sql.DataFrame = [Name: string, Quiz: string ... 2 more fields]

In [123]:
a.show

+----+----+-----+-----+
|Name|Quiz|Score|grade|
+----+----+-----+-----+
|John|  Q1|100.0|    A|
|Jill|  Q1| 80.0|    B|
|John|  Q2| 30.0|    F|
|Jill|  Q2| 90.0|    A|
+----+----+-----+-----+

In [121]:
df.printSchema

root
 |-- Name: string (nullable = true)
 |-- Quiz: string (nullable = true)
 |-- Score: double (nullable = false)

In [124]:
percentages.printSchema

root
 |-- Name: string (nullable = true)
 |-- percentage: double (nullable = true)

In [129]:
df.show

+----+----+-----+
|Name|Quiz|Score|
+----+----+-----+
|John|  Q1|   10|
|Jill|  Q1|    8|
|John|  Q2|    3|
|Jill|  Q2|    9|
+----+----+-----+

In [138]:
df.select(mean("Score"),avg("Score")).show

+----------+----------+
|avg(Score)|avg(Score)|
+----------+----------+
|       7.5|       7.5|
+----------+----------+

In [140]:
df.agg(first("Score"),avg("Score")).show

+------------+----------+
|first(Score)|avg(Score)|
+------------+----------+
|          10|       7.5|
+------------+----------+

In [141]:
df.select(first("Score"),avg("Score")).show

+------------+----------+
|first(Score)|avg(Score)|
+------------+----------+
|          10|       7.5|
+------------+----------+

In [145]:
import org.apache.spark.sql.expressions.MutableAggregationBuffer

import org.apache.spark.sql.expressions.MutableAggregationBuffer

In [147]:
MutableAggregationBuffer()
// mutable_array_example += 5.8

<console>: 83: error: not found: value MutableAggregationBuffer

In [177]:
val a = ("a"::1::Nil)

a: List[Any] = List(a, 1)

In [178]:
a(0)

res111: Any = a

In [179]:
a(1)

res112: Any = 1

In [1]:
val df = spark.read
    .format("csv")
    .option("header","true")
    .option("inferSchema","true")
   .csv("nyc_311_2022_clean.csv")
    .withColumnRenamed("Created Date","Created_Date")
    .withColumnRenamed("Closed Date","Closed_Date")

Intitializing Scala interpreter ...

Spark Web UI available at http://10.56.162.227:4045
SparkContext available as 'sc' (version = 3.3.0, master = local[*], app id = local-1671218144539)
SparkSession available as 'spark'

df: org.apache.spark.sql.DataFrame = [Created_Date: timestamp, Closed_Date: timestamp ... 9 more fields]

In [6]:
import org.apache.spark.sql.types._
StructType(StructField("inputColumn", DoubleType) ::
                                             //StructField("inputColumn", StringType)
                                             Nil)

import org.apache.spark.sql.types._
res4: org.apache.spark.sql.types.StructType = StructType(StructField(inputColumn,DoubleType,true))

In [5]:
df("processing_days")

res3: org.apache.spark.sql.Column = processing_days

In [7]:
lit(1.0)

res5: org.apache.spark.sql.Column = 1.0

In [15]:
//Necessary imports
import org.apache.spark.sql.{Row, SparkSession}
import org.apache.spark.sql.expressions.MutableAggregationBuffer
import org.apache.spark.sql.expressions.UserDefinedAggregateFunction
import org.apache.spark.sql.types._

//We'll define a scala program that calculates this average
//Scala programs are contained in an object
object ConditionalAverage extends UserDefinedAggregateFunction {
    //Start with a schema for the input to the function
    //In this case, a column and the type of the column
    def inputSchema: StructType = StructType(StructField("inputColumn", DoubleType) :: 
                                             StructField("threshold",DoubleType) :: Nil)

    // Set up an aggregation buffer. This specified the schema for the data that will be updated by each case
    // Since we're calculating an average, we need to count elements and sum elements
    def bufferSchema: StructType = {
        StructType(StructField("sum", DoubleType) :: StructField("count", LongType) :: Nil)
    }
    
    //Define the type of the value returned by the function
    def dataType: DataType = DoubleType
    
    // Whether this function always returns the same output on the identical input
    def deterministic: Boolean = true
    
    //Initialize the aggregation buffer
    def initialize(buffer: MutableAggregationBuffer): Unit = {
        buffer(0) = 0.0
        buffer(1) = 0L
    }
    
    // Update procedure. What to do with each case
    def update(buffer: MutableAggregationBuffer, input: Row): Unit = {
        if (!input.isNullAt(0)) {
            if (input.getDouble(0) > input.getDouble(1)) {
                buffer(0) = buffer.getDouble(0) + input.getDouble(0)
                buffer(1) = buffer.getLong(1) + 1
            }
        }
    }
    
    // Merges two aggregation buffers and stores the updated buffer values back to `buffer1`
    def merge(buffer1: MutableAggregationBuffer, buffer2: Row): Unit = {
        buffer1(0) = buffer1.getDouble(0) + buffer2.getDouble(0)
        buffer1(1) = buffer1.getLong(1) + buffer2.getLong(1)
    }
  // Calculates the final result
    def evaluate(buffer: Row): Double = buffer.getDouble(0) / buffer.getLong(1)
}

// Register the function to access it
spark.udf.register("ConditionalAverage", ConditionalAverage)

22/12/16 14:41:28 WARN SimpleFunctionRegistry: The function conditionalaverage replaced a previously registered function.

import org.apache.spark.sql.{Row, SparkSession}
import org.apache.spark.sql.expressions.MutableAggregationBuffer
import org.apache.spark.sql.expressions.UserDefinedAggregateFunction
import org.apache.spark.sql.types._
defined object ConditionalAverage
res12: org.apache.spark.sql.expressions.UserDefinedAggregateFunction = ConditionalAverage$@558994d8

In [13]:
df.agg(ConditionalAverage(df("processing_days"))).show

+------------------------------------+
|conditionalaverage$(processing_days)|
+------------------------------------+
|                  19.811219247322303|
+------------------------------------+

In [19]:
df.select(ConditionalAverage($"processing_days",lit(1.0))).show

+-----------------------------------------+
|conditionalaverage$(processing_days, 1.0)|
+-----------------------------------------+
|                       19.811219247322303|
+-----------------------------------------+

In [18]:
df.select($"processing_days",lit(1.0)).show

+------------------+---+
|   processing_days|1.0|
+------------------+---+
| 5.882638888888889|1.0|
| 4.070833333333334|1.0|
|1.3104166666666668|1.0|
| 4.272916666666666|1.0|
|1.5930555555555554|1.0|
| 2.272222222222222|1.0|
| 5.195138888888889|1.0|
|2.1868055555555554|1.0|
|2.4805555555555556|1.0|
|2.5652777777777778|1.0|
| 4.317361111111111|1.0|
|1.2472222222222222|1.0|
| 3.395138888888889|1.0|
| 5.979166666666667|1.0|
|1.3180555555555555|1.0|
| 3.870833333333333|1.0|
|1.5958333333333332|1.0|
| 9.120138888888889|1.0|
|3.5493055555555557|1.0|
|               2.0|1.0|
+------------------+---+
only showing top 20 rows

In [ ]:
df.filter($"processing_days">1.0).select(mean("processing_days")).show

In [187]:
df.printSchema

root
 |-- Created_Date: timestamp (nullable = true)
 |-- Closed_Date: timestamp (nullable = true)
 |-- Agency: string (nullable = true)
 |-- Agency Name: string (nullable = true)
 |-- Complaint Type: string (nullable = true)
 |-- Incident Zip: integer (nullable = true)
 |-- Borough: string (nullable = true)
 |-- Latitude: double (nullable = true)
 |-- Longitude: double (nullable = true)
 |-- processing_time: string (nullable = true)
 |-- processing_days: double (nullable = true)

In [189]:
df.select("processing_days")

res119: org.apache.spark.sql.DataFrame = [processing_days: double]

In [20]:
val x = "NYPD"

x: String = NYPD

In [22]:
val x = """"NYPD""""

x: String = "NYPD"

In [24]:
val x = """aa
aa
"""

x: String =
"aa
aa
"

In [25]:
val x = "a
a"

<console>: 2: error: unclosed string literal

In [1]:
val vertexArray = Array(
  (1, "Alice", 28),
  (2, "Bob", 27),
  (3, "Charlie", 65),
  (4, "David", 42),
  (5, "Ed", 55),
  (6, "Fran", 50),
    (7, "Qing",27),
    (8, "Sarika",78),
    (9, "Olafson",17),
    (10, "Birgit",33)
)

val edgeArray = Array(
  (2, 1, 7),
  (1, 2, 13),
  (2, 4, 2),
  (3, 2, 4),
  (3, 6, 3),
  (4, 1, 1),
  (5, 2, 2),
  (5, 3, 8),
  (5, 6, 3),
    (7, 8, 14),
    (7, 9, 2),
    (8, 10, 8),
    (9, 10, 6)
)

val vertex_df = spark.createDataFrame(vertexArray).toDF("id","name","age")
val edge_df = spark.createDataFrame(edgeArray).toDF("src","dst","attr")

Intitializing Scala interpreter ...

Spark Web UI available at http://10.56.162.227:4045
SparkContext available as 'sc' (version = 3.3.0, master = local[*], app id = local-1671222736925)
SparkSession available as 'spark'

vertexArray: Array[(Int, String, Int)] = Array((1,Alice,28), (2,Bob,27), (3,Charlie,65), (4,David,42), (5,Ed,55), (6,Fran,50), (7,Qing,27), (8,Sarika,78), (9,Olafson,17), (10,Birgit,33))
edgeArray: Array[(Int, Int, Int)] = Array((2,1,7), (1,2,13), (2,4,2), (3,2,4), (3,6,3), (4,1,1), (5,2,2), (5,3,8), (5,6,3), (7,8,14), (7,9,2), (8,10,8), (9,10,6))
vertex_df: org.apache.spark.sql.DataFrame = [id: int, name: string ... 1 more field]
edge_df: org.apache.spark.sql.DataFrame = [src: int, dst: int ... 1 more field]

In [2]:
vertex_df.show

+---+-------+---+
| id|   name|age|
+---+-------+---+
|  1|  Alice| 28|
|  2|    Bob| 27|
|  3|Charlie| 65|
|  4|  David| 42|
|  5|     Ed| 55|
|  6|   Fran| 50|
|  7|   Qing| 27|
|  8| Sarika| 78|
|  9|Olafson| 17|
| 10| Birgit| 33|
+---+-------+---+

In [4]:
spark.createDataFrame(vertexArray).show

+---+-------+---+
| _1|     _2| _3|
+---+-------+---+
|  1|  Alice| 28|
|  2|    Bob| 27|
|  3|Charlie| 65|
|  4|  David| 42|
|  5|     Ed| 55|
|  6|   Fran| 50|
|  7|   Qing| 27|
|  8| Sarika| 78|
|  9|Olafson| 17|
| 10| Birgit| 33|
+---+-------+---+

In [25]:
val data = Array("John,33,245233.234","Jill,23,132987.22","Qing,54,782344.22","Rahul,50,389223,54")
val d = data.map(a=>(a.split(",")(0),a.split(",")(1),a.split(",")(2)))

// spark.createDataFrame(d).toDF("name","age","income").show

data: Array[String] = Array(John,33,245233.234, Jill,23,132987.22, Qing,54,782344.22, Rahul,50,389223,54)
d: Array[(String, String, String)] = Array((John,33,245233.234), (Jill,23,132987.22), (Qing,54,782344.22), (Rahul,50,389223))
res15: Class[_ <: (String, String, String)] = class scala.Tuple3

In [18]:
val d = data.map(a=>a.split(","))

d: Array[Array[String]] = Array(Array(John, 33, 245233.234), Array(Jill, 23, 132987.22), Array(Qing, 54, 782344.22), Array(Rahul, 50, 389223, 54))

In [27]:
val vertexArray = Array(
  (1, "Alice", 28),
  (2, "Bob", 27),
  (3, "Charlie", 65),
  (4, "David", 42),
  (5, "Ed", 55),
  (6, "Fran", 50),
    (7, "Qing",27),
    (8, "Sarika",78),
    (9, "Olafson",17),
    (10, "Birgit",33)
)
val rdd = sc.parallelize(vertexArray)
val df = rdd.toDF("id","name","age")

vertexArray: Array[(Int, String, Int)] = Array((1,Alice,28), (2,Bob,27), (3,Charlie,65), (4,David,42), (5,Ed,55), (6,Fran,50), (7,Qing,27), (8,Sarika,78), (9,Olafson,17), (10,Birgit,33))
rdd: org.apache.spark.rdd.RDD[(Int, String, Int)] = ParallelCollectionRDD[3] at parallelize at <console>:38
df: org.apache.spark.sql.DataFrame = [id: int, name: string ... 1 more field]

In [28]:
df.show

+---+-------+---+
| id|   name|age|
+---+-------+---+
|  1|  Alice| 28|
|  2|    Bob| 27|
|  3|Charlie| 65|
|  4|  David| 42|
|  5|     Ed| 55|
|  6|   Fran| 50|
|  7|   Qing| 27|
|  8| Sarika| 78|
|  9|Olafson| 17|
| 10| Birgit| 33|
+---+-------+---+

In [2]:
%%init_spark
launcher.packages= ["graphframes:graphframes:0.8.2-spark3.2-s_2.12"]

In [5]:
import org.apache.spark.sql._
import org.apache.spark.sql.functions._
import org.graphframes._

import org.apache.spark.sql._
import org.apache.spark.sql.functions._
import org.graphframes._

In [25]:
val vertexArray = Array(
  (1, "Alice", 28),
  (2, "Bob", 27),
  (3, "Charlie", 65),
  (4, "David", 42),
  (5, "Ed", 55),
  (6, "Fran", 50),
    (7, "Qing",27),
    (8, "Sarika",78),
    (9, "Olafson",17),
    (10, "Birgit",33)
)

val edgeArray = Array(
  (2, 1, 7),
//     (2, 2, 1),
  (1, 2, 13),
  (2, 4, 2),
  (3, 2, 4),
  (3, 6, 3),
  (4, 1, 1),
  (5, 2, 2),
  (5, 3, 8),
  (5, 6, 3),
    (7, 8, 14),
    (7, 9, 2),
    (8, 10, 8),
    (9, 10, 6)
)

val vertex_df = spark.createDataFrame(vertexArray).toDF("id","name","age")
val edge_df = spark.createDataFrame(edgeArray).toDF("src","dst","attr")

val g = GraphFrame(vertex_df, edge_df)

vertexArray: Array[(Int, String, Int)] = Array((1,Alice,28), (2,Bob,27), (3,Charlie,65), (4,David,42), (5,Ed,55), (6,Fran,50), (7,Qing,27), (8,Sarika,78), (9,Olafson,17), (10,Birgit,33))
edgeArray: Array[(Int, Int, Int)] = Array((2,1,7), (1,2,13), (2,4,2), (3,2,4), (3,6,3), (4,1,1), (5,2,2), (5,3,8), (5,6,3), (7,8,14), (7,9,2), (8,10,8), (9,10,6))
vertex_df: org.apache.spark.sql.DataFrame = [id: int, name: string ... 1 more field]
edge_df: org.apache.spark.sql.DataFrame = [src: int, dst: int ... 1 more field]
g: org.graphframes.GraphFrame = GraphFrame(v:[id: int, name: string ... 1 more field], e:[src: int, dst: int ... 1 more field])

In [26]:
g.find("(a)-[e]->(b); (b)-[e2]->(a)").show

+--------------+----------+--------------+----------+
|             a|         e|             b|        e2|
+--------------+----------+--------------+----------+
|{1, Alice, 28}|{1, 2, 13}|  {2, Bob, 27}| {2, 1, 7}|
|  {2, Bob, 27}| {2, 1, 7}|{1, Alice, 28}|{1, 2, 13}|
+--------------+----------+--------------+----------+

In [29]:
g.find("(a)-[]->(b)").show()

+----------------+----------------+
|               a|               b|
+----------------+----------------+
|  {1, Alice, 28}|    {2, Bob, 27}|
|    {2, Bob, 27}|  {4, David, 42}|
|    {2, Bob, 27}|  {1, Alice, 28}|
|{3, Charlie, 65}|   {6, Fran, 50}|
|{3, Charlie, 65}|    {2, Bob, 27}|
|  {4, David, 42}|  {1, Alice, 28}|
|     {5, Ed, 55}|   {6, Fran, 50}|
|     {5, Ed, 55}|{3, Charlie, 65}|
|     {5, Ed, 55}|    {2, Bob, 27}|
|   {7, Qing, 27}|{9, Olafson, 17}|
|   {7, Qing, 27}| {8, Sarika, 78}|
| {8, Sarika, 78}|{10, Birgit, 33}|
|{9, Olafson, 17}|{10, Birgit, 33}|
+----------------+----------------+

In [33]:
g.find("(a)-[]->(b)") //Get all nodes in a df
    .select($"a.id" as "src" ,$"b.id" as "dst" ) 
.withColumn("swap",when(col("src")<col("dst"),col("dst")))
.withColumn("dst",
                when(col("swap").isNotNull,col("src"))
                .otherwise(col("dst")))
.show

+---+---+----+
|src|dst|swap|
+---+---+----+
|  2|  1|null|
|  1|  1|   2|
|  2|  2|   4|
|  3|  2|null|
|  3|  3|   6|
|  4|  1|null|
|  5|  2|null|
|  5|  3|null|
|  5|  5|   6|
|  7|  7|   8|
|  7|  7|   9|
|  8|  8|  10|
|  9|  9|  10|
+---+---+----+

In [35]:
g.find("(a)-[ab]->(b);(b)-[bc]->(c);(c)-[cd]->(d)")
    .filter("a.id != b.id")
    .filter("a.id != c.id")
    .filter("a.id != d.id")
    .filter("b.id != c.id")
    .filter("b.id != d.id")
    .filter("c.id != d.id")
    .select(($"ab.attr"+$"bc.attr"+$"cd.attr").as("s"),$"a.name",$"d.name")
    .filter($"s">8)
    .drop($"s")
    .show

+----+-----+
|name| name|
+----+-----+
|  Ed|David|
|  Ed|Alice|
+----+-----+

In [40]:
// def sumLikes(total:Column, likes:Column):Column = {total+likes}
val condition = Seq("ab","bc","cd")
    .foldLeft(lit(0))((total,a) => total+col(a)("attr"))

condition: org.apache.spark.sql.Column = (((0 + ab[attr]) + bc[attr]) + cd[attr])

In [41]:
g.find("(a)-[ab]->(b);(b)-[bc]->(c);(c)-[cd]->(d)")
    .filter("a.id != b.id")
    .filter("a.id != c.id")
    .filter("a.id != d.id")
    .filter("b.id != c.id")
    .filter("b.id != d.id")
    .filter("c.id != d.id")
    .where(condition>8)
    .select("a.name","d.name")
    .show

+----+-----+
|name| name|
+----+-----+
|  Ed|David|
|  Ed|Alice|
+----+-----+

In [42]:
(1 to 3).map(i => s"(n$i)-[e$i]->(n${i + 1})")

res30: scala.collection.immutable.IndexedSeq[String] = Vector((n1)-[e1]->(n2), (n2)-[e2]->(n3), (n3)-[e3]->(n4))

In [44]:
g.filterVertices("age > 30").vertices.show
g.filterVertices("age > 30").edges.show

+---+-------+---+
| id|   name|age|
+---+-------+---+
|  3|Charlie| 65|
|  4|  David| 42|
|  5|     Ed| 55|
|  6|   Fran| 50|
|  8| Sarika| 78|
| 10| Birgit| 33|
+---+-------+---+

+---+---+----+
|src|dst|attr|
+---+---+----+
|  3|  6|   3|
|  5|  3|   8|
|  5|  6|   3|
|  8| 10|   8|
+---+---+----+

In [45]:
g.filterEdges("attr>2").vertices.show
g.filterEdges("attr>2").edges.show

+---+-------+---+
| id|   name|age|
+---+-------+---+
|  1|  Alice| 28|
|  2|    Bob| 27|
|  3|Charlie| 65|
|  4|  David| 42|
|  5|     Ed| 55|
|  6|   Fran| 50|
|  7|   Qing| 27|
|  8| Sarika| 78|
|  9|Olafson| 17|
| 10| Birgit| 33|
+---+-------+---+

+---+---+----+
|src|dst|attr|
+---+---+----+
|  2|  1|   7|
|  1|  2|  13|
|  3|  2|   4|
|  3|  6|   3|
|  5|  3|   8|
|  5|  6|   3|
|  7|  8|  14|
|  8| 10|   8|
|  9| 10|   6|
+---+---+----+

In [46]:
val df = g.find("(a)-[ab]->(b);(b)-[bc]->(c);(c)-[cd]->(d)")
    .filter("a.id != b.id")
    .filter("a.id != c.id")
    .filter("a.id != d.id")
    .filter("b.id != c.id")
    .filter("b.id != d.id")
    .filter("c.id != d.id")
df.select("a.*").union(df.select("b.*")).show

+---+-------+---+
| id|   name|age|
+---+-------+---+
|  3|Charlie| 65|
|  5|     Ed| 55|
|  5|     Ed| 55|
|  5|     Ed| 55|
|  2|    Bob| 27|
|  2|    Bob| 27|
|  3|Charlie| 65|
|  3|Charlie| 65|
+---+-------+---+

df: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [a: struct<id: int, name: string ... 1 more field>, ab: struct<src: int, dst: int ... 1 more field> ... 5 more fields]

In [10]:
import org.graphframes._
import org.graphframes.lib.AggregateMessages

import org.graphframes._
import org.graphframes.lib.AggregateMessages

In [11]:
val vertexArray = Array(
  (1, "Alice", 28),
  (2, "Bob", 27),
  (3, "Charlie", 65),
  (4, "David", 42),
  (5, "Ed", 55),
  (6, "Fran", 50),
    (7, "Qing",27),
    (8, "Sarika",78),
    (9, "Olafson",17),
    (10, "Birgit",33)
)

val edgeArray = Array(
  (2, 1, 7),
  (1, 2, 13),
  (2, 4, 2),
  (3, 2, 4),
  (3, 6, 3),
  (4, 1, 1),
  (5, 2, 2),
  (5, 3, 8),
  (5, 6, 3),
    (7, 8, 14),
    (7, 9, 2),
    (8, 10, 8),
    (9, 10, 6)
)

val vertex_df = spark.createDataFrame(vertexArray).toDF("id","name","age")
val edge_df = spark.createDataFrame(edgeArray).toDF("src","dst","attr")

val g = GraphFrame(vertex_df, edge_df)

vertexArray: Array[(Int, String, Int)] = Array((1,Alice,28), (2,Bob,27), (3,Charlie,65), (4,David,42), (5,Ed,55), (6,Fran,50), (7,Qing,27), (8,Sarika,78), (9,Olafson,17), (10,Birgit,33))
edgeArray: Array[(Int, Int, Int)] = Array((2,1,7), (1,2,13), (2,4,2), (3,2,4), (3,6,3), (4,1,1), (5,2,2), (5,3,8), (5,6,3), (7,8,14), (7,9,2), (8,10,8), (9,10,6))
vertex_df: org.apache.spark.sql.DataFrame = [id: int, name: string ... 1 more field]
edge_df: org.apache.spark.sql.DataFrame = [src: int, dst: int ... 1 more field]
g: org.graphframes.GraphFrame = GraphFrame(v:[id: int, name: string ... 1 more field], e:[src: int, dst: int ... 1 more field])

In [12]:
g.aggregateMessages
    .sendToDst(AggregateMessages.edge("attr")) //Send the edge attr to value to the destination
    .agg(sum(AggregateMessages.msg).as("alllikes")).show //Aggregate messages by summing them up

+---+--------+
| id|alllikes|
+---+--------+
|  1|       8|
|  4|       2|
|  2|      19|
|  6|       6|
|  3|       8|
|  9|       2|
|  8|      14|
| 10|      14|
+---+--------+

In [13]:
g.aggregateMessages

res2: org.graphframes.lib.AggregateMessages = org.graphframes.lib.AggregateMessages@567e5b96

In [18]:
import org.apache.spark.graphx._
import org.apache.spark.rdd.RDD

import org.apache.spark.graphx._
import org.apache.spark.rdd.RDD

In [19]:
val vertexArray = Array(
  (1, "Alice", 28),
  (2, "Bob", 27),
  (3, "Charlie", 65),
  (4, "David", 42),
  (5, "Ed", 55),
  (6, "Fran", 50),
    (7, "Qing",27),
    (8, "Sarika",78),
    (9, "Olafson",17),
    (10, "Birgit",33)
)

val edgeArray = Array(
  (2, 1, 7),
  (1, 2, 13),
  (2, 4, 2),
  (3, 2, 4),
  (3, 6, 3),
  (4, 1, 1),
  (5, 2, 2),
  (5, 3, 8),
  (5, 6, 3),
    (7, 8, 14),
    (7, 9, 2),
    (8, 10, 8),
    (9, 10, 6)
)
val vertexArrayX = vertexArray.map(r => (r._1.toLong,(r._2,r._3)))//(v.idL,v.attr)
val edgeArrayX = edgeArray.map(r => Edge(r._1.toLong,r._2.toLong,r._3))//(srcL,detL,attr)
// val vertexRDD = sc.parallelize(vertexArrayX)
val vertexRDD: RDD[(Long, (String, Int))] = sc.parallelize(vertexArrayX)//Long is required
val edgeRDD: RDD[Edge[Int]] = sc.parallelize(edgeArrayX)//attr type

val graph: Graph[(String, Int), Int] = Graph(vertexRDD, edgeRDD)//vertex attr type, edge attr type

vertexArray: Array[(Int, String, Int)] = Array((1,Alice,28), (2,Bob,27), (3,Charlie,65), (4,David,42), (5,Ed,55), (6,Fran,50), (7,Qing,27), (8,Sarika,78), (9,Olafson,17), (10,Birgit,33))
edgeArray: Array[(Int, Int, Int)] = Array((2,1,7), (1,2,13), (2,4,2), (3,2,4), (3,6,3), (4,1,1), (5,2,2), (5,3,8), (5,6,3), (7,8,14), (7,9,2), (8,10,8), (9,10,6))
vertexArrayX: Array[(Long, (String, Int))] = Array((1,(Alice,28)), (2,(Bob,27)), (3,(Charlie,65)), (4,(David,42)), (5,(Ed,55)), (6,(Fran,50)), (7,(Qing,27)), (8,(Sarika,78)), (9,(Olafson,17)), (10,(Birgit,33)))
edgeArrayX: Array[org.apache.spark.graphx.Edge[Int]] = Array(Edge(2,1,7), Edge(1,2,13), Edge(2,4,2), Edge(3,2,4), Edge(3,6,3), Edge(4,1,1), Edge(5,2,2), Edge(5,3,8), Edge(5,6,3), Edge(7,8,14), Edge(7,9,2), Edge(8,10,8), Edge(9,10,6))
ve...

In [20]:
vertexRDD

res3: org.apache.spark.rdd.RDD[(Long, (String, Int))] = ParallelCollectionRDD[9] at parallelize at <console>:72

In [22]:
g

res5: org.graphframes.GraphFrame = GraphFrame(v:[id: int, name: string ... 1 more field], e:[src: int, dst: int ... 1 more field])

In [24]:
g.vertices.rdd

res7: org.apache.spark.rdd.RDD[org.apache.spark.sql.Row] = MapPartitionsRDD[28] at rdd at <console>:41

In [28]:
graph.vertices.collect

res11: Array[(org.apache.spark.graphx.VertexId, (String, Int))] = Array((8,(Sarika,78)), (1,(Alice,28)), (9,(Olafson,17)), (10,(Birgit,33)), (2,(Bob,27)), (3,(Charlie,65)), (4,(David,42)), (5,(Ed,55)), (6,(Fran,50)), (7,(Qing,27)))

In [29]:
val total_incoming_likes = graph.aggregateMessages[Int](ec => ec.sendToDst(ec.attr),(x,y) => x+y)
//work on triplets,x ->first message
total_incoming_likes.collect

total_incoming_likes: org.apache.spark.graphx.VertexRDD[Int] = VertexRDDImpl[36] at RDD at VertexRDD.scala:57
res12: Array[(org.apache.spark.graphx.VertexId, Int)] = Array((8,14), (1,8), (9,2), (10,14), (2,19), (3,8), (4,2), (6,6))

In [32]:
val total_incoming_likes = graph.aggregateMessages(ec => ec.sendToDst(ec.attr),(x,y) => x+y)
//work on triplets,x ->first message
total_incoming_likes.collect

<console>: 40: error: missing parameter type

In [33]:
sc.setLogLevel("ERROR")

In [37]:
import org.apache.spark.streaming.{Seconds, StreamingContext}
val ssc = new StreamingContext(sc,Seconds(10.toLong))

//NOTE: lines, words, pairs, wordCounts are all DStream objects, not RDDs!
val lines = ssc.socketTextStream("localhost", 4444)
val words = lines.flatMap(line => line.split(" "))
val pairs = words.map(word => (word, 1))
val wordCounts = pairs.reduceByKey((x, y) => x + y)
wordCounts.print()

import org.apache.spark.streaming.{Seconds, StreamingContext}
ssc: org.apache.spark.streaming.StreamingContext = org.apache.spark.streaming.StreamingContext@2a6e0244
lines: org.apache.spark.streaming.dstream.ReceiverInputDStream[String] = org.apache.spark.streaming.dstream.SocketInputDStream@20f7adff
words: org.apache.spark.streaming.dstream.DStream[String] = org.apache.spark.streaming.dstream.FlatMappedDStream@35c15dd7
pairs: org.apache.spark.streaming.dstream.DStream[(String, Int)] = org.apache.spark.streaming.dstream.MappedDStream@1eb5d7ef
wordCounts: org.apache.spark.streaming.dstream.DStream[(String, Int)] = org.apache.spark.streaming.dstream.ShuffledDStream@44938a5f

In [38]:
ssc.start()

-------------------------------------------
Time: 1671408530000 ms
-------------------------------------------

-------------------------------------------
Time: 1671408540000 ms
-------------------------------------------
(aa,2)

In [39]:
ssc.stop(false)

22/12/18 19:09:02 ERROR ReceiverTracker: Deregistered receiver for stream 0: Stopped by driver

In [60]:
val updateFunction = (nv: Seq[Int], rc: Option[Int]) => { //nv = new value; rc = running count
    val uc = rc.getOrElse(0) + nv.sum  //If rc does not exist, set it to 0, otherwise use the existing value
    Option(uc) //return Some(uc)  
}

updateFunction: (Seq[Int], Option[Int]) => Option[Int] = $Lambda$5834/0x0000000801ac8840@4c849d1

In [1]:
(0 to 9).map(i=>i+1)

Intitializing Scala interpreter ...

Spark Web UI available at http://192.168.0.149:4042
SparkContext available as 'sc' (version = 3.3.0, master = local[*], app id = local-1671557841888)
SparkSession available as 'spark'

res0: scala.collection.immutable.IndexedSeq[Int] = Vector(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [91]:

val vertexArray = Array(
  (1,1),
  (2,2),
  (3,3),
  (4,4),
  (5,5),
  (6,6),
    (7,7),
    (8,8)
)


val edgeArray = Array(
  (1, 3),
  (2, 3),
  (2, 4),
  (4, 5),
  (3, 5),
  (5, 6),
  (6, 7),
  (6, 8),
  (7, 8)
)

val vertex_df = spark.createDataFrame(vertexArray).toDF("id","v_desc")
val edge_df = spark.createDataFrame(edgeArray).toDF("src","dst")

val g = GraphFrame(vertex_df, edge_df)

vertexArray: Array[(Int, Int)] = Array((1,1), (2,2), (3,3), (4,4), (5,5), (6,6), (7,7), (8,8))
edgeArray: Array[(Int, Int)] = Array((1,3), (2,3), (2,4), (4,5), (3,5), (5,6), (6,7), (6,8), (7,8))
vertex_df: org.apache.spark.sql.DataFrame = [id: int, v_desc: int]
edge_df: org.apache.spark.sql.DataFrame = [src: int, dst: int]
g: org.graphframes.GraphFrame = GraphFrame(v:[id: int, v_desc: int], e:[src: int, dst: int])

In [112]:
def getShortestPath(g: GraphFrame,i: Int, j: Int) = {
    val path_df = g.bfs.fromExpr(s"id=$i").toExpr(s"id=$j").run() 
    if (path_df.count > 0) {
        val cols = path_df.columns.filter(n=>n.contains("v")).map(n=>col(n+".id"))
        val a = path_df.select(cols:_*).rdd.collect()(0).toSeq.toArray.map(e => e.toString.toInt)
        a
    }
    else Array[Int]()
}

getShortestPath: (g: org.graphframes.GraphFrame, i: Int, j: Int)Array[Int]

In [109]:
val path_df = g.bfs.fromExpr(s"id=1").toExpr(s"id=8").run() 
val cols = path_df.columns.filter(n=>n.contains("v")).map(n=>col(n+".id"))
val a = path_df.select(cols:_*).rdd.collect()(0).toSeq.toArray.map(e => e.toString.toInt)

path_df: org.apache.spark.sql.DataFrame = [from: struct<id: int, v_desc: int>, e0: struct<src: int, dst: int> ... 7 more fields]
cols: Array[org.apache.spark.sql.Column] = Array(v1.id, v2.id, v3.id)
a: Array[Int] = Array(3, 5, 6)

In [118]:
getShortestPath(g,2,1)

res96: Array[Int] = Array()

In [116]:
val a = Array(1,2)
a::List(Array(2,3))

a: Array[Int] = Array(1, 2)
res94: List[Array[Int]] = List(Array(1, 2), Array(2, 3))

In [39]:
def getAllPairs(nums: Seq[Int]) =
    nums.flatMap(x => nums.map(y => (x,y))).filter(p=>p._1 != p._2)
getAllPairs((1 to 3)).toArray

getAllPairs: (nums: Seq[Int])Seq[(Int, Int)]
res25: Array[(Int, Int)] = Array((1,2), (1,3), (2,1), (2,3), (3,1), (3,2))

In [74]:
(1 to 3).map(i => s"n$i").combinations(2).foreach(x=>print(x.toSeq(0).toString,"+",x.toSeq(1).toString))
// .map ( x => x.mkString(" "))
// .flatMap(_.combinations(2))

(n1,+,n2)(n1,+,n3)(n2,+,n3)

In [79]:
(1 to 3).map(i => s"n$i").combinations(2).toSeq(0).toString

res64: String = Vector(n1, n2)

In [62]:
updateFunction(Seq(),updateFunction(Seq(),None))

res31: Option[Int] = Some(0)

In [11]:
val indices = 0 to 10-1
indices.slice(0,indices.length-1)

indices: scala.collection.immutable.Range.Inclusive = Range 0 to 9
res5: scala.collection.immutable.Range = Range 0 to 8

In [13]:
indices.length - 1

res7: Int = 9

In [14]:
val a = "aaa"
a.slice(0,2)

a: String = aaa
res8: String = aa